{% extends "layout.html" %}

{% block title %}
    Create Room
{% endblock %}
{% block main %}
    <div class="container py-2">
        <h1 class="mb-4 text-center">Create a Quiz Room</h1>
        <ul>
            <li>Insert your name and choose a name for your Room, keep it civil... or not</li>
            <li>Select the number of rounds, a round means all players get to ask a question</li>
        </ul>
        <form method="POST" id="create-room-form">
            <input type="text" minlength="4" autofocus required class="form-control mb-3 mx-auto py-2 w-auto" name="room_name" placeholder="Room Name:" autocomplete="off">
            <input type="text" minlength="3" required class="form-control mb-3 py-2 mx-auto w-auto" name="host_name" placeholder="Host Name:" autocomplete="off">
            <div class="mb-3 text-center">
                <label for="rounds" class="form-label">Number of rounds:</label>
                <select class="form-select w-auto mx-auto" id="rounds" name="rounds" required>
                    <option value="" disabled selected>Select rounds</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn action-btn play-btn btn-primary mb-3 mx-auto py-2 w-auto" type="submit" disabled id="create-btn">
                    Create Room!
                </button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("create-room-form")
            const button = document.getElementById("create-btn")
            const roomName = form.elements["room_name"]
            const hostName = form.elements["host_name"]
            const rounds = form.elements["rounds"]

            function checkForm() {
                const filled =
                    roomName.value.trim().length >= 4 &&
                hostName.value.trim().length >= 3 &&
                rounds.value != "";
                button.disabled = !filled
            }

            roomName.addEventListener("input", checkForm)
            hostName.addEventListener("input", checkForm)
            rounds.addEventListener("change", checkForm)

            checkForm();
        })
    </script>
{% endblock %}
