{% extends "layout.html" %}

{% block title %}
    CS50x Quiz Game
{% endblock %}

{% block main %}
    <div class="container py-2">
        <h1 class="mb-4 text-center">Welcome to CS50x Quiz Game</h1>
        <h5 class="ms-4">Create your own quizzes with friends, vote for the best answers and have a laugh</h5>
        <div>Feel free to browse our <a href="/rules">Rules and FAQ</a>, but ultimately, this is your game, find your own way to have fun</div>
        <div class="container text-center pt-5">
            <a href="/rooms" class="btn action-btn play-btn px-5 py-3">
                Let's play!
            </a>
        </div>
        <div class="position-fixed bottom-0 start-0 p-3 fineprint w-50 text-wrap">We are not responsible for any friendships ruined while playing</div>
    </div>
{% endblock %}
