{% extends "layout.html" %}

{% block title %}
    Join Room
{% endblock %}

{% block main %}
<div class="container py-2">
    <h1 class="mb-4 text-center">Join a Quiz Room!</h1>
    <ul>
        <li><p>Enter the code for the room</p></li>
        <li><p>Choose a name for yourself, try to keep it civil, it's not like we have all your answers saved</p></li>
    </ul>
        <form method="POST">
            <input type="text" minlength="3" autofocus required class="form-control mb-3 py-2 mx-auto w-auto" name="player_name" placeholder="Player Name:" autocomplete="off">
            <input type="text" minlength="6" maxlength="6" required class="form-control mb-3 mx-auto py-2 w-auto room-code-input" name="room_code" placeholder="Room Code:" autocomplete="off">
            <div class="text-center">
                <button class="btn action-btn play-btn rounded-pill" type="submit">Join Room!</button>
            </div>
        </form>
</div>

{% endblock %}
