{% extends "layout.html" %}

{% block title %}
    Let's Play
{% endblock %}

{% block main %}
    <div class="container py-2">
        <h1 class="mb-4 text-center">Let's Play!</h1>

        <div class="row g-4 justify-content-center mt-4">
            <div class="col-12 col-md-6">
                <a href="/create-room" class="btn room-action-btn action-btn timing-btn-1 w-100 d-flex align-items-center justify-content-center">
                    Create Room
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/join-room" class="btn room-action-btn action-btn timing-btn-2 w-100 d-flex align-items-center justify-content-center">
                    Join Room
                </a>
            </div>
        </div>
    </div>
{% endblock %}
