{% extends "layout.html" %}

{% block title %}
    Rules and Setup
{% endblock %}

{% block main %}
    <h1 class="display-6 fw-bold mb-4">Rules & Setup</h1>
    <p class="lead mb-4">Learn how to setup the quiz, how scoring works, and what to do during each round.</p>
    <ul>
        <li>
            <p class="mb-3">A player from each group creates a room, he then shares the link-code with the other players to join the designated room until leader closes registration</p>
        </li>
        <li>
            <p class=".mb-3">The game starts with the person who created the room being the leader and asking the first quiz question which appears on the screens of the players</p>
        </li>
        <li>
            <p class=".mb-3">Each Player submits their answers, and they appear on screen for each player to vote on</p>
        </li>
        <li>
            <p class=".mb-3">The winner of the round is announced and gains a point</p>
        </li>
        <li>
            <p class=".mb-3">Then, the leadership rotates in the order of joining the room</p>
        </li>
    </ul>
{% endblock %}
